<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=llc-serverless.cbl0vtr35mzo.us-west-2.rds.amazonaws.com;Database=LORLinkChecker-Pre;User ID=admin;Password=2[=9yFq$972T7'F;Asynchronous Processing=true;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
